body {
  font-family: sans-serif;
}

.form-control {
  display: block;
  margin: 5px 260px;
  width: 845px;
}

.bigger {
  font-size: 40px;
}

.temperature-units {
  font-size: 15px;
}

.center-everything {
  text-align: center;
}

.temperature {
  text-align: center;
  font-size: 15px;
}

.city {
  text-align: center;
}

.country1 {
  text-align: center;
}

.emoji {
  text-align: center;
  font-size: 60px;
}

.card {
  margin: 5px 260px;
}

.find-city {
  margin-top: 20px;
  margin-left: 260px;
  min-width: 330px;
  width: 810px;
  border-radius: 5px;
  border: solid 1px #dfdfdf;
  padding: 10px;
}

.new-button,
.currentLocation {
  border: solid 1px #dfdfdf;
  background-color: #dfdfdf;
  border-radius: 5px;
  padding: 10px;
}

.new-button,
.currentLocation:hover {
  background: #f0efef;
  border: solid 1px #dfdfdf;
  border-radius: 5px;
}

.currentLocation {
  display: block;
  margin: 0 auto;
}

.github-link {
  display: block;
  margin-top: 7px;
  margin-bottom: 20px;
  margin-left: 260px;
  font-size: small;
}
.temp .active {
  color: black;
  cursor: default;
}
.temp .active:hover {
  text-decoration: none;
}